services:
  backend:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8010 --reload
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    environment:
      APP_NAME: LaMarinaCC
      ENV: local
      DATABASE_URL: postgresql+psycopg://LaMarinaCC:A355Fu584$@lamarinacc-db.c7o8imsw0zss.us-east-1.rds.amazonaws.com:5432/postgres
      CORS_ORIGINS: http://44.204.161.253,http://44.204.161.253:3010,https://44.204.161.253,https://44.204.161.253:3010,http://localhost:3010,http://127.0.0.1:3010

    ports:
      - "8010:8010"
    depends_on:
      - db

  frontend:
    build: ./frontend
    command: npm run dev -- --host 0.0.0.0 --port 3010
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_API_URL: http://44.204.161.253:8010
    ports:
      - "3010:3010"
    depends_on:
      - backend

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lamarinacc
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: afa59@live.com.mx
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
